# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environments
# -----------------------------
travel_agent/
venv/
.venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Python Cache
# -----------------------------
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# -----------------------------
# Database
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Temporary Files
# -----------------------------
project_structure.txt
main_removed.txt
script_jsonleafe.txt
txt.txt
requirements.txt

# -----------------------------
# Build
# -----------------------------
build/
dist/
*.egg-info/